In [1]:
import numpy as np
import pandas as pd
import itertools

from keras.models import Sequential
from keras.layers import Dense

from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
import seaborn as sns

#### Show All Columns

In [ ]:
pd.set_option('display.max_columns', None)

#### Read dataset

In [3]:
train = pd.read_csv("./godaddy-microbusiness-density-forecasting/train.csv")
test = pd.read_csv("./godaddy-microbusiness-density-forecasting/test.csv")
census = pd.read_csv("./godaddy-microbusiness-density-forecasting/census_starter.csv")
submission = pd.read_csv("./godaddy-microbusiness-density-forecasting/sample_submission.csv")

In [5]:
data = pd.concat((train, test))
data = data.sort_values('row_id').reset_index(drop=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147345 entries, 0 to 147344
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   row_id                 147345 non-null  object
 1   cfips                  147345 non-null  int64
 2   county                 122265 non-null  object
 3   state                  122265 non-null  object
 4   first_day_of_month     147345 non-null  object
 5   microbusiness_density  122265 non-null  float64
 6   active                 122265 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 7.9+ MB

#### Get Month and Year

In [6]:
data['first_day_of_month'] = pd.to_datetime(data.first_day_of_month, format='%Y-%m-%d')
data['year']= data['first_day_of_month'].dt.year-2

In [7]:
data.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active,year
0,10001_2019-08-01,10001,Kent County,Delaware,2019-08-01,4.995701,6624.0,2017
1,10001_2019-09-01,10001,Kent County,Delaware,2019-09-01,5.031902,6672.0,2017
2,10001_2019-10-01,10001,Kent County,Delaware,2019-10-01,5.098270,6760.0,2017
3,10001_2019-11-01,10001,Kent County,Delaware,2019-11-01,5.124666,6795.0,2017
4,10001_2019-12-01,10001,Kent County,Delaware,2019-12-01,5.086203,6744.0,2017

In [8]:
census['cfips'] = census['cfips'].astype("string")
census.describe()

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,pct_college_2021,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
count,3142.000000,3142.000000,3142.000000,3141.000000,3141.000000,3142.000000,3142.000000,3142.000000,3141.000000,3141.000000,...,3142.000000,3141.000000,3142.000000,3141.000000,3141.000000,3142.000000,3141.000000,3142.000000,3140.000000,3140.000000
mean,69.920401,72.690866,75.398600,78.543298,80.539096,13.813399,14.005379,14.240452,14.631328,14.851226,...,1.427148,1.382171,1.338956,1.309265,1.272684,49754.163908,51583.175422,53475.909612,55012.443312,58223.339490
std,9.702052,9.255863,8.846665,8.250864,7.889931,5.586649,5.630199,5.689780,5.776940,5.832285,...,0.986985,0.942777,0.940891,0.990342,0.968579,13154.424871,13703.502202,14192.529173,14649.568591,15541.038914
min,24.500000,25.700000,34.800000,33.300000,37.000000,2.400000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,19264.000000,20188.000000,21504.000000,22292.000000,17109.000000
25%,64.200000,67.425000,70.500000,74.100000,76.400000,9.700000,9.900000,10.100000,10.500000,10.600000,...,0.800000,0.800000,0.700000,0.700000,0.600000,41123.000000,42480.000000,44155.000000,45653.000000,48179.500000
50%,70.700000,73.600000,76.450000,79.600000,81.700000,12.800000,13.000000,13.250000,13.600000,13.800000,...,1.300000,1.300000,1.200000,1.200000,1.100000,48065.500000,49888.000000,51757.500000,52842.000000,55907.000000
75%,76.400000,78.800000,81.400000,84.100000,85.900000,16.800000,17.100000,17.300000,17.900000,18.000000,...,1.900000,1.800000,1.800000,1.800000,1.700000,55763.500000,57611.000000,59867.250000,61500.750000,64930.000000
max,94.600000,95.500000,96.000000,97.100000,97.600000,43.700000,48.000000,45.400000,43.000000,43.700000,...,17.400000,11.700000,10.500000,15.200000,15.200000,129588.000000,136268.000000,142299.000000,147111.000000,156821.000000

In [9]:
census[pd.isnull(census["pct_bb_2021"])]

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
92,80.5,79.1,80.4,NaN,NaN,2261,23.1,19.0,16.5,NaN,...,3.3,3.9,5.3,NaN,NaN,86019,82306.0,79867,NaN,NaN

In [10]:
cleaned_census_dataset = census.bfill()

In [11]:
transaction_col = ['cfips','year','pct_bb','pct_college','pct_foreign_born','pct_it_workers','median_hh_inc']
transaction_df = pd.DataFrame(columns=transaction_col)

In [12]:
cleaned_census_dict = cleaned_census_dataset.to_dict(orient='index')

for index in np.arange(len(cleaned_census_dataset)):
    current_row = cleaned_census_dict[index]
    for year in [2017,2018,2019,2020,2021]:
        row_dict = dict.fromkeys(transaction_col)
        row_dict['cfips']=current_row['cfips']
        row_dict['year']=year
        row_dict['pct_bb']=current_row['pct_bb_' + (str)(year)]
        row_dict['pct_college']=current_row['pct_college_' + (str)(year)]
        row_dict['pct_foreign_born']=current_row['pct_foreign_born_' + (str)(year)]
        row_dict['pct_it_workers']=current_row['pct_it_workers_' + (str)(year)]
        row_dict['median_hh_inc']=current_row['median_hh_inc_' + (str)(year)]
        transaction_df = transaction_df.append(row_dict, ignore_index=True)
        
transaction_df.head()

,cfips,year,pct_bb,pct_college,pct_foreign_born,pct_it_workers,median_hh_inc
0,1001,2017,76.6,14.5,2.1,1.3,55317
1,1001,2018,78.9,15.9,2.0,1.1,58786
2,1001,2019,80.6,16.1,2.3,0.7,58731
3,1001,2020,82.7,16.7,2.3,0.6,57982
4,1001,2021,85.5,16.4,2.1,1.1,62660

In [13]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15710 entries, 0 to 15709
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cfips             15710 non-null  object
 1   year              15710 non-null  object
 2   pct_bb            15710 non-null  float64
 3   pct_college       15710 non-null  float64
 4   pct_foreign_born  15710 non-null  float64
 5   pct_it_workers    15710 non-null  float64
 6   median_hh_inc     15710 non-null  object
dtypes: float64(4), object(3)
memory usage: 859.3+ KB

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147345 entries, 0 to 147344
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   row_id                 147345 non-null  object
 1   cfips                  147345 non-null  int64
 2   county                 122265 non-null  object
 3   state                  122265 non-null  object
 4   first_day_of_month     147345 non-null  datetime64[ns]
 5   microbusiness_density  122265 non-null  float64
 6   active                 122265 non-null  float64
 7   year                   147345 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 9.0+ MB

In [15]:
data['cfips'] = data['cfips'].astype("string")
data['county'] = data.groupby('cfips')['county'].ffill()
data['state'] = data.groupby('cfips')['state'].ffill()

In [16]:
# Join table
data_merged = pd.merge(transaction_df, data, on=['cfips','year'])

In [17]:
data_merged['year'].unique()

array([2017, 2018, 2019, 2020, 2021], dtype=object)

In [18]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147345 entries, 0 to 147344
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   cfips                  147345 non-null  object
 1   year                   147345 non-null  object
 2   pct_bb                 147345 non-null  float64
 3   pct_college            147345 non-null  float64
 4   pct_foreign_born       147345 non-null  float64
 5   pct_it_workers         147345 non-null  float64
 6   median_hh_inc          147345 non-null  object
 7   row_id                 147345 non-null  object
 8   county                 147345 non-null  object
 9   state                  147345 non-null  object
 10  first_day_of_month     147345 non-null  datetime64[ns]
 11  microbusiness_density  122265 non-null  float64
 12  active                 122265 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 15.7+ MB

In [19]:
data_merged.isnull().sum()

cfips                        0
year                         0
pct_bb                       0
pct_college                  0
pct_foreign_born             0
pct_it_workers               0
median_hh_inc                0
row_id                       0
county                       0
state                        0
first_day_of_month           0
microbusiness_density    25080
active                   25080
dtype: int64

In [20]:
train = data_merged.dropna()
test = data_merged[data_merged['microbusiness_density'].isna()]

In [21]:
train_predata_merged =train[['pct_bb','pct_college','pct_foreign_born','pct_it_workers','median_hh_inc','county','state']]
test_predata_merged =test[['pct_bb','pct_college','pct_foreign_born','pct_it_workers','median_hh_inc','county','state']]

In [23]:
X = pd.get_dummies(train_predata_merged ,columns=['county','state'],drop_first=True)
Xtest = pd.get_dummies(test_predata_merged,columns=['county','state'],drop_first=True)

In [24]:
from sklearn.compose import ColumnTransformer

ct_model = ColumnTransformer([
        ('somename', StandardScaler(), ['pct_bb','pct_college','pct_foreign_born','pct_it_workers','median_hh_inc'])
    ], remainder='passthrough')

X=ct_model.fit_transform(X)
Xtest=ct_model.fit_transform(Xtest)

In [25]:
X = np.asarray(X).astype('float32')

In [26]:
X

array([[ 0.20413265,  0.04921869, -0.4631215 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.20413265,  0.04921869, -0.4631215 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.20413265,  0.04921869, -0.4631215 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.5348187 , -0.2673601 , -0.42810196, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.5348187 , -0.2673601 , -0.42810196, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.5348187 , -0.2673601 , -0.42810196, ...,  0.        ,
         0.        ,  1.        ]], dtype=float32)

In [27]:
y = train['microbusiness_density']

In [29]:
from tensorflow.keras.metrics import MeanSquaredError,MeanAbsoluteError

model = Sequential()
model.add(Dense(100, input_shape=(1925,), kernel_initializer='normal', activation='relu'))
model.add(Dense(100, input_shape=(1925,) ,activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(1, activation='linear', kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=[MeanSquaredError(),MeanAbsoluteError()])

In [30]:
model.fit(X, y, epochs=20, batch_size=10)

Epoch 1/20
12227/12227 [==============================] - 55s 4ms/step - loss: 9.5486 - mean_squared_error: 9.5486 - mean_absolute_error: 0.7841
Epoch 2/20
12227/12227 [==============================] - 56s 5ms/step - loss: 6.5525 - mean_squared_error: 6.5525 - mean_absolute_error: 0.4963
Epoch 3/20
12227/12227 [==============================] - 50s 4ms/step - loss: 6.3424 - mean_squared_error: 6.3424 - mean_absolute_error: 0.4467
Epoch 4/20
12227/12227 [==============================] - 52s 4ms/step - loss: 5.6092 - mean_squared_error: 5.6092 - mean_absolute_error: 0.4175
Epoch 5/20
12227/12227 [==============================] - 52s 4ms/step - loss: 5.3244 - mean_squared_error: 5.3244 - mean_absolute_error: 0.3730
Epoch 6/20
12227/12227 [==============================] - 47s 4ms/step - loss: 5.3556 - mean_squared_error: 5.3556 - mean_absolute_error: 0.3507
Epoch 7/20
12227/12227 [==============================] - 50s 4ms/step - loss: 4.5898 - mean_squared_error: 4.5898 - mean_absolute_error: 0.3369
Epoch 8/20
12227/12227 [==============================] - 53s 4ms/step - loss: 4.6089 - mean_squared_error: 4.6089 - mean_absolute_error: 0.3191
Epoch 9/20
12227/12227 [==============================] - 61s 5ms/step - loss: 4.4051 - mean_squared_error: 4.4051 - mean_absolute_error: 0.3084
Epoch 10/20
12227/12227 [==============================] - 56s 5ms/step - loss: 4.5668 - mean_squared_error: 4.5668 - mean_absolute_error: 0.2902
Epoch 11/20
12227/12227 [==============================] - 70s 6ms/step - loss: 4.2761 - mean_squared_error: 4.2761 - mean_absolute_error: 0.2860
Epoch 12/20
12227/12227 [==============================] - 52s 4ms/step - loss: 4.5920 - mean_squared_error: 4.5920 - mean_absolute_error: 0.2718
Epoch 13/20
12227/12227 [==============================] - 55s 4ms/step - loss: 3.9005 - mean_squared_error: 3.9005 - mean_absolute_error: 0.2692
Epoch 14/20
12227/12227 [==============================] - 41s 3ms/step - loss: 3.8662 - mean_squared_error: 3.8662 - mean_absolute_error: 0.2630
Epoch 15/20
12227/12227 [==============================] - 38s 3ms/step - loss: 3.9931 - mean_squared_error: 3.9931 - mean_absolute_error: 0.2641
Epoch 16/20
12227/12227 [==============================] - 41s 3ms/step - loss: 3.6347 - mean_squared_error: 3.6347 - mean_absolute_error: 0.2491
Epoch 17/20
12227/12227 [==============================] - 38s 3ms/step - loss: 4.0496 - mean_squared_error: 4.0496 - mean_absolute_error: 0.2507
Epoch 18/20
12227/12227 [==============================] - 35s 3ms/step - loss: 3.9466 - mean_squared_error: 3.9466 - mean_absolute_error: 0.2411
Epoch 19/20
12227/12227 [==============================] - 42s 3ms/step - loss: 4.0326 - mean_squared_error: 4.0326 - mean_absolute_error: 0.2374
Epoch 20/20
12227/12227 [==============================] - 42s 3ms/step - loss: 3.5253 - mean_squared_error: 3.5253 - mean_absolute_error: 0.2354

In [31]:
y_predicted= model.predict(Xtest)
y_predicted = list(itertools.chain(*y_predicted))

y_predicted

784/784 [==============================] - 2s 2ms/step

[3.1701229,
 3.1701229,
 3.2140782,
 3.2140782,
 3.2140782,
 3.2140782,
 3.2140782,
 3.2140782,
 7.481602,
 7.481602,
 7.728435,
 7.728435,
 7.728435,
 7.728435,
 7.728435,
 7.728435,
 1.1842664,
 1.1842664,
 1.1024363,
 1.1024363,
 1.1024363,
 1.1024363,
 1.1024363,
 1.1024363,
 1.3208836,
 1.3208836,
 1.5402099,
 1.5402099,
 1.5402099,
 1.5402099,
 1.54021,
 1.54021,
 1.758159,
 1.758159,
 1.7405294,
 1.7405294,
 1.7405294,
 1.7405294,
 1.7405294,
 1.7405294,
 0.86928093,
 0.86928093,
 0.90603656,
 0.90603656,
 0.90603656,
 0.90603656,
 0.90603656,
 0.90603656,
 1.5884479,
 1.5884479,
 1.751609,
 1.751609,
 1.751609,
 1.751609,
 1.751609,
 1.751609,
 2.5059433,
 2.5059433,
 2.519824,
 2.519824,
 2.519824,
 2.519824,
 2.519824,
 2.519824,
 1.455236,
 1.455236,
 1.1720613,
 1.1720613,
 1.1720613,
 1.1720613,
 1.1720613,
 1.1720613,
 1.2148769,
 1.2148769,
 1.2835724,
 1.2835724,
 1.2835724,
 1.2835724,
 1.2835724,
 1.2835724,
 1.5755188,
 1.5755188,
 1.7301657,
 1.7301657,
 1.7301657,
 1.7301657,
 1.7301657,
 1.7301657,
 1.3425608,
 1.3425608,
 1.3128623,
 1.3128623,
 1.3128623,
 1.3128623,
 1.3128623,
 1.3128623,
 1.0907578,
 1.0907578,
 1.206907,
 1.206907,
 1.206907,
 1.206907,
 1.206907,
 1.206907,
 1.3301885,
 1.3301885,
 1.4513359,
 1.4513359,
 1.4513359,
 1.4513359,
 1.4513359,
 1.4513359,
 1.2173848,
 1.2173848,
 1.3618535,
 1.3618535,
 1.3618535,
 1.3618535,
 1.3618535,
 1.3618535,
 2.4825134,
 2.4825134,
 2.3707187,
 2.3707187,
 2.3707187,
 2.3707187,
 2.3707185,
 2.3707185,
 2.4225287,
 2.4225287,
 2.3851774,
 2.3851774,
 2.3851774,
 2.3851774,
 2.3851774,
 2.3851774,
 1.2040752,
 1.2040752,
 1.8189052,
 1.8189052,
 1.8189052,
 1.8189052,
 1.8189052,
 1.8189052,
 0.5969145,
 0.5969145,
 16.728695,
 16.728695,
 16.728695,
 16.728695,
 16.728695,
 16.728695,
 1.533295,
 1.533295,
 1.4570494,
 1.4570494,
 1.4570494,
 1.4570494,
 1.4570495,
 1.4570495,
 0.89773303,
 0.89773303,
 0.8487122,
 0.8487122,
 0.8487122,
 0.8487122,
 0.8487122,
 0.8487122,
 2.2723732,
 2.2723732,
 2.4156737,
 2.4156737,
 2.4156737,
 2.4156737,
 2.4156737,
 2.4156737,
 1.629993,
 1.629993,
 1.6669791,
 1.6669791,
 1.6669791,
 1.6669791,
 1.6669791,
 1.6669791,
 1.2513986,
 1.2513986,
 1.2185223,
 1.2185223,
 1.2185223,
 1.2185223,
 1.2185223,
 1.2185223,
 2.7085376,
 2.7085376,
 2.5761774,
 2.5761774,
 2.5761774,
 2.5761774,
 2.5761774,
 2.5761774,
 2.834031,
 2.834031,
 2.5876875,
 2.5876875,
 2.5876875,
 2.5876875,
 2.5876875,
 2.5876875,
 1.7855743,
 1.7855743,
 1.7896684,
 1.7896684,
 1.7896684,
 1.7896684,
 1.7896684,
 1.7896684,
 2.4125934,
 2.4125934,
 2.608787,
 2.608787,
 2.608787,
 2.608787,
 2.608787,
 2.608787,
 1.5240855,
 1.5240855,
 1.5832305,
 1.5832305,
 1.5832305,
 1.5832305,
 1.5832305,
 1.5832305,
 1.3042179,
 1.3042179,
 1.78332,
 1.78332,
 1.78332,
 1.78332,
 1.78332,
 1.78332,
 1.237668,
 1.237668,
 1.314103,
 1.314103,
 1.314103,
 1.314103,
 1.314103,
 1.314103,
 1.2494994,
 1.2494994,
 1.2918543,
 1.2918543,
 1.2918543,
 1.2918543,
 1.2918543,
 1.2918543,
 0.8801829,
 0.8801829,
 1.0497181,
 1.0497181,
 1.0497181,
 1.0497181,
 1.0497181,
 1.0497181,
 2.7085948,
 2.7085948,
 2.3739514,
 2.3739514,
 2.3739514,
 2.3739514,
 2.3739514,
 2.3739514,
 3.6896305,
 3.6896305,
 3.1046982,
 3.1046982,
 3.1046982,
 3.1046982,
 3.1046982,
 3.1046982,
 2.2399228,
 2.2399228,
 2.3465157,
 2.3465157,
 2.3465157,
 2.3465157,
 2.3465161,
 2.3465161,
 5.8407574,
 5.8407574,
 6.4271536,
 6.4271536,
 6.4271536,
 6.4271536,
 6.4271536,
 6.4271536,
 0.8822185,
 0.8822185,
 0.73935354,
 0.73935354,
 0.73935354,
 0.73935354,
 0.73935354,
 0.73935354,
 4.679834,
 4.679834,
 4.3988676,
 4.3988676,
 4.3988676,
 4.3988676,
 4.3988676,
 4.3988676,
 1.2882162,
 1.2882162,
 1.4178704,
 1.4178704,
 1.4178704,
 1.4178704,
 1.4178704,
 1.4178704,
 3.7846222,
 3.7846222,
 3.7923417,
 3.7923417,
 3.7923417,
 3.7923417,
 3.7923417,
 3.7923417,
 2.787714,
 2.787714,
 2.7018244,
 2.7018244,
 2.7018244,
 2.7018244,
 2.7018244,
 2.7018244,
 1.1407442,
 1.1407442,
 1.1145229,
 1.1145229,
 1.1145229,
 1.1145229,
 1.1145229,
 1.1145229,
 1.7564749,
 1.7564749,
 1.7363672,
 1.7363672,
 1.7363672,
 1.7363672,
 1.7363672,
 1.7363672,
 6.314089,
 6.314089,
 6.5524178,
 6.5524178,
 6.5524178,
 6.5524178,
 6.5524178,
 6.5524178,
 1.3821646,
 1.3821646,
 1.3953986,
 1.3953986,
 1.3953986,
 1.3953986,
 1.3953986,
 1.3953986,
 1.4746318,
 1.4746318,
 1.5208805,
 1.5208805,
 1.5208805,
 1.5208805,
 1.5208805,
 1.5208805,
 2.9634933,
 2.9634933,
 2.6802247,
 2.6802247,
 2.6802247,
 2.6802247,
 2.680225,
 2.680225,
 3.8559837,
 3.8559837,
 3.6840153,
 3.6840153,
 3.6840153,
 3.6840153,
 3.6840153,
 3.6840153,
 1.0915933,
 1.0915933,
 1.2129446,
 1.2129446,
 1.2129446,
 1.2129446,
 1.2129446,
 1.2129446,
 5.086551,
 5.086551,
 5.187183,
 5.187183,
 5.187183,
 5.187183,
 5.187183,
 5.187183,
 2.4620976,
 2.4620976,
 2.5893312,
 2.5893312,
 2.5893312,
 2.5893312,
 2.5893312,
 2.5893312,
 0.5886094,
 0.5886094,
 1.1468738,
 1.1468738,
 1.1468738,
 1.1468738,
 1.1468738,
 1.1468738,
 0.64081097,
 0.64081097,
 0.47310507,
 0.47310507,
 0.47310507,
 0.47310507,
 0.47310507,
 0.47310507,
 2.0089355,
 2.0089355,
 2.1301785,
 2.1301785,
 2.1301785,
 2.1301785,
 2.1301785,
 2.1301785,
 1.9431102,
 1.9431102,
 2.1410465,
 2.1410465,
 2.1410465,
 2.1410465,
 2.141046,
 2.141046,
 2.2612333,
 2.2612333,
 2.288798,
 2.288798,
 2.288798,
 2.288798,
 2.288798,
 2.288798,
 2.8498497,
 2.8498497,
 2.8985796,
 2.8985796,
 2.8985796,
 2.8985796,
 2.8985796,
 2.8985796,
 7.071861,
 7.071861,
 7.237665,
 7.237665,
 7.237665,
 7.237665,
 7.237665,
 7.237665,
 0.8662939,
 0.8662939,
 0.94447154,
 0.94447154,
 0.94447154,
 0.94447154,
 0.94447154,
 0.94447154,
 1.7650495,
 1.7650495,
 1.670402,
 1.670402,
 1.670402,
 1.670402,
 1.670402,
 1.670402,
 3.6124592,
 3.6124592,
 3.4198737,
 3.4198737,
 3.4198737,
 3.4198737,
 3.4198737,
 3.4198737,
 4.6102457,
 4.6102457,
 3.8110938,
 3.8110938,
 3.8110938,
 3.8110938,
 3.8110938,
 3.8110938,
 1.6052359,
 1.6052359,
 1.4578599,
 1.4578599,
 1.4578599,
 1.4578599,
 1.4578601,
 1.4578601,
 0.2785853,
 0.2785853,
 0.05224502,
 0.05224502,
 0.05224502,
 0.05224502,
 0.05224502,
 0.05224502,
 1.1211938,
 1.1211938,
 1.1099952,
 1.1099952,
 1.1099952,
 1.1099952,
 1.1099952,
 1.1099952,
 1.6248361,
 1.6248361,
 1.5475866,
 1.5475866,
 1.5475866,
 1.5475866,
 1.5475866,
 1.5475866,
 0.8964602,
 0.8964602,
 0.932023,
 0.932023,
 0.932023,
 0.932023,
 0.9320231,
 0.9320231,
 1.211791,
 1.211791,
 1.2317246,
 1.2317246,
 1.2317246,
 1.2317246,
 1.2317246,
 1.2317246,
 6.418303,
 6.418303,
 6.577081,
 6.577081,
 6.577081,
 6.577081,
 6.577081,
 6.577081,
 0.5092696,
 0.5092696,
 0.64883614,
 0.64883614,
 0.64883614,
 0.64883614,
 0.64883614,
 0.64883614,
 11.471506,
 11.471506,
 12.3075,
 12.3075,
 12.3075,
 12.3075,
 12.307499,
 12.307499,
 12.961086,
 12.961086,
 11.626975,
 11.626975,
 11.626975,
 11.626975,
 11.626975,
 11.626975,
 1.641293,
 1.641293,
 1.6760249,
 1.6760249,
 1.6760249,
 1.6760249,
 1.6760249,
 1.6760249,
 3.6402335,
 3.6402335,
 3.6080856,
 3.6080856,
 3.6080856,
 3.6080856,
 3.6080856,
 3.6080856,
 5.597644,
 5.597644,
 3.4023767,
 3.4023767,
 3.4023767,
 3.4023767,
 3.4023767,
 3.4023767,
 3.6238937,
 3.6238937,
 3.9219866,
 3.9219866,
 3.9219866,
 3.9219866,
 3.9219866,
 3.9219866,
 3.4895964,
 3.4895964,
 3.661809,
 3.661809,
 3.661809,
 3.661809,
 3.661809,
 3.661809,
 5.6052036,
 5.6052036,
 6.0081244,
 6.0081244,
 6.0081244,
 6.0081244,
 6.0081244,
 6.0081244,
 5.4724355,
 5.4724355,
 6.169359,
 6.169359,
 6.169359,
 6.169359,
 6.169359,
 6.169359,
 2.7827392,
 2.7827392,
 2.8855443,
 2.8855443,
 2.8855443,
 2.8855443,
 2.8855443,
 2.8855443,
 2.4475112,
 2.4475112,
 2.3239388,
 2.3239388,
 2.3239388,
 2.3239388,
 2.3239388,
 2.3239388,
 5.2156663,
 5.2156663,
 5.7787004,
 5.7787004,
 5.7787004,
 5.7787004,
 5.7787004,
 5.7787004,
 1.7401482,
 1.7401482,
 1.7366261,
 1.7366261,
 1.7366261,
 1.7366261,
 1.7366261,
 1.7366261,
 1.4369824,
 1.4369824,
 2.0992262,
 2.0992262,
 2.0992262,
 2.0992262,
 2.0992262,
 2.0992262,
 0.55090797,
 0.55090797,
 0.35646713,
 0.35646713,
 0.35646713,
 0.35646713,
 0.35646713,
 0.35646713,
 3.0001616,
 3.0001616,
 2.9994667,
 2.9994667,
 2.9994667,
 2.9994667,
 2.9994667,
 2.9994667,
 2.9984717,
 2.9984717,
 2.9638515,
 2.9638515,
 2.9638515,
 2.9638515,
 2.963852,
 2.963852,
 6.454935,
 6.454935,
 6.5055294,
 6.5055294,
 6.5055294,
 6.5055294,
 6.5055294,
 6.5055294,
 6.29867,
 6.29867,
 5.9866376,
 5.9866376,
 5.9866376,
 5.9866376,
 5.9866376,
 5.9866376,
 2.448424,
 2.448424,
 4.3670607,
 4.3670607,
 4.3670607,
 4.3670607,
 4.3670607,
 4.3670607,
 5.047889,
 5.047889,
 3.3363113,
 3.3363113,
 3.3363113,
 3.3363113,
 3.3363113,
 3.3363113,
 3.661035,
 3.661035,
 3.5622988,
 3.5622988,
 3.5622988,
 3.5622988,
 3.5622988,
 3.5622988,
 2.444026,
 2.444026,
 2.658833,
 2.658833,
 2.658833,
 2.658833,
 2.658833,
 2.658833,
 4.9102674,
 4.9102674,
 4.8232517,
 4.8232517,
 4.8232517,
 4.8232517,
 4.8232517,
 4.8232517,
 3.5797691,
 3.5797691,
 3.7290945,
 3.7290945,
 3.7290945,
 3.7290945,
 3.7290945,
 3.7290945,
 6.3535976,
 6.3535976,
 6.4210267,
 6.4210267,
 6.4210267,
 6.4210267,
 6.4210267,
 6.4210267,
 4.0993695,
 4.0993695,
 4.0687904,
 4.0687904,
 4.0687904,
 4.0687904,
 4.0687904,
 4.0687904,
 1.9475098,
 1.9475098,
 1.8620222,
 1.8620222,
 1.8620222,
 1.8620222,
 1.8620222,
 1.8620222,
 1.4242895,
 1.4242895,
 1.4144441,
 1.4144441,
 1.4144441,
 1.4144441,
 1.4144442,
 1.4144442,
 2.4530113,
 2.4530113,
 2.2793014,
 2.2793014,
 2.2793014,
 2.2793014,
 2.2793014,
 2.2793014,
 14.138532,
 14.138532,
 13.993835,
 13.993835,
 13.993835,
 13.993835,
 13.993835,
 13.993835,
 4.572168,
 4.572168,
 4.4091573,
 4.4091573,
 4.4091573,
 4.4091573,
 4.4091573,
 4.4091573,
 3.5654902,
 3.5654902,
 3.538395,
 3.538395,
 3.538395,
 3.538395,
 3.5383945,
 3.5383945,
 6.5445423,
 6.5445423,
 6.4745717,
 6.4745717,
 6.4745717,
 6.4745717,
 6.4745717,
 6.4745717,
 5.27002,
 5.27002,
 4.547746,
 4.547746,
 4.547746,
 4.547746,
 4.547746,
 4.547746,
 4.1318164,
 4.1318164,
 4.373104,
 4.373104,
 4.373104,
 4.373104,
 4.373104,
 4.373104,
 9.426424,
 9.426424,
 9.500038,
 9.500038,
 9.500038,
 9.500038,
 9.500038,
 9.500038,
 2.112996,
 2.112996,
 2.1035337,
 2.1035337,
 2.1035337,
 2.1035337,
 2.1035337,
 2.1035337,
 1.4513149,
 1.4513149,
 1.4085972,
 1.4085972,
 1.4085972,
 1.4085972,
 1.4085972,
 1.4085972,
 1.154785,
 1.154785,
 1.1950157,
 1.1950157,
 1.1950157,
 1.1950157,
 1.1950157,
 1.1950157,
 3.2882533,
 3.2882533,
 3.371686,
 3.371686,
 3.371686,
 3.371686,
 3.3716857,
 3.3716857,
 5.532936,
 5.532936,
 6.0770006,
 6.0770006,
 6.0770006,
 6.0770006,
 6.0770006,
 6.0770006,
 3.0265937,
 3.0265937,
 3.0877786,
 3.0877786,
 3.0877786,
 3.0877786,
 3.0877786,
 3.0877786,
 0.8376311,
 0.8376311,
 0.8670094,
 0.8670094,
 0.8670094,
 0.8670094,
 0.8670094,
 0.8670094,
 0.4017099,
 0.4017099,
 0.5499591,
 0.5499591,
 0.5499591,
 0.5499591,
 0.5499592,
 0.5499592,
 4.7207417,
 4.7207417,
 6.2065797,
 6.2065797,
 6.2065797,
 6.2065797,
 6.2065797,
 6.2065797,
 1.0403973,
 1.0403973,
 1.0916635,
 1.0916635,
 1.0916635,
 1.0916635,
 1.0916635,
 1.0916635,
 1.8630793,
 1.8630793,
 3.044649,
 3.044649,
 3.044649,
 3.044649,
 3.044649,
 3.044649,
 0.72654355,
 0.72654355,
 0.94691324,
 0.94691324,
 0.94691324,
 0.94691324,
 0.9469132,
 0.9469132,
 2.4874747,
 2.4874747,
 2.6340504,
 2.6340504,
 2.6340504,
 2.6340504,
 2.6340504,
 2.6340504,
 0.78245205,
 0.78245205,
 0.7472799,
 0.7472799,
 0.7472799,
 0.7472799,
 0.7472799,
 0.7472799,
 1.1890106,
 1.1890106,
 1.2885284,
 1.2885284,
 1.2885284,
 1.2885284,
 1.2885284,
 1.2885284,
 2.287151,
 2.287151,
 2.7611089,
 2.7611089,
 2.7611089,
 2.7611089,
 2.7611089,
 2.7611089,
 3.6963553,
 3.6963553,
 3.7593312,
 3.7593312,
 3.7593312,
 3.7593312,
 3.7593312,
 3.7593312,
 ...]

In [32]:
submission = submission[['row_id']]

In [33]:
submission['microbusiness_density'] = y_predicted

In [34]:
submission.head()

            row_id  microbusiness_density
0  1001_2022-11-01               3.170123
1  1003_2022-11-01               3.170123
2  1005_2022-11-01               3.214078
3  1007_2022-11-01               3.214078
4  1009_2022-11-01               3.214078

In [35]:
submission.to_csv('submission_tensorflow.csv', index=False)