In [7]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [9]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [12]:
import pandas as pd
import numpy as np

n_rows = 10
n_cols = 10

cols = tuple('ABCDEFGHIJ')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)

df_prefix = df.add_prefix('kolom_')
df_prefix

,kolom_A,kolom_B,kolom_C,kolom_D,kolom_E,kolom_F,kolom_G,kolom_H,kolom_I,kolom_J
0,8,6,5,8,4,7,4,2,9,1
1,2,1,4,1,6,2,7,5,3,3
2,5,4,3,3,9,6,7,5,4,1
3,2,7,5,1,6,7,5,1,4,2
4,4,4,9,7,3,7,4,9,8,1
5,4,3,8,7,6,9,3,5,8,9
6,8,3,1,1,3,3,1,6,9,3
7,5,1,2,4,8,9,9,4,1,4
8,4,7,4,1,5,9,1,2,3,9
9,1,4,4,8,4,8,7,8,9,2