In [6]:
import pandas as pd
import numpy as np

n_rows = 5
n_cols = 2

cols = ['bil_pecahan','bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df['bil_pecahan'] = df['bil_pecahan'].astype('float')
df['bil_bulat'] = df['bil_bulat'].astype('int')

df = df.select_dtypes(include = 'float')
#df = df.select_dtypes(include = 'int')
df

   bil_pecahan
0         18.0
1          1.0
2         15.0
3          3.0
4          2.0